.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
  background-color: #1f1f1f;
  padding-top: 12px;
}

@media (prefers-color-scheme: light) {
  .header{
    background-color: #f0f0f0;
    color: black;
  }
}
