.subheader {
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 1000;
  text-align: center;
  background-color: #1f1f1f;
  padding-bottom: 10px;
}

@media (prefers-color-scheme: light) {
  .subheader {
    background-color: #f0f0f0;
    color: black;
  }
}
